extends layout
block content
	block#CipherInfo
		p 
			CipherInfo= CipherInfo
	block#CipherHelp
		p
			CipherHelp= CipherHelp
	block#MethodSelector
		p
			MethodSelector= MethodSelector
	block#InputArea
		p
			InputArea= InputArea
	block#OutputArea
		p
		OutputArea= OutputArea
