extends layout
block content
	block#CipherInfo
		p 
			CipherInfo= CipherInfo
	block#CipherHelp
		p
			CipherHelp= CipherHelp
	block#MethodSelector
		p
			MethodSelector= MethodSelector
	block#InputArea
		p
			InputArea= InputArea
	block#OutputArea
		p
		OutputArea= OutputArea
block append scripts
	script(type='text/javascript', src='/javascripts/Caesar_Cipher.js')
	script(type='text/javascript', src='/javascripts/morsecconverter.js')
	script(type='text/javascript', src='/javascripts/substitution_cypher.js')