extends layout

block content
	h1= title
	h2= "Caesar Cipher"
	p A Caesar Cipher might also be refered to as "A Shift Cipher,Caesars Code or a Caesar Shift". 
		It works taking each letter and replacing it with another letter that is a fixed number of places around the alphabet. 
		If you were to shift it by 3 characters A would become D, as it is 3 characters to the right of a in the  English alphabet.
		This is a old method of cryptography however is still used today as part of other ciphers such as the 
		a(href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher") vigenere cipher 
		cipher and the ROT13 System.
				
	p You can use this cipher at this link 
		a(href="http://127.0.0.1:5000/ciphers/caesar") Caesar Cipher & ROT13
		
	h3= "Caesar Cipher Strengths"	
	p One of the major strengths of the Caesar Cipher is its simplicity, as it only shifts the alphabet it can be decrypted without having to use a computer meaning you could implement it as part of a puzzle.
		although it is not as secure as other methods of cyphering or encryption it can be used as part of a more complicated set which can lead to much more secure ciphers without having to add as much extra work as using two complciated ciphers together.
	
	h3= "Caesar Cipher Weakness"
	p A weakness with both the Ceaser Cipher and the ROT13 Varient is that they only have 26 possible options therefor making it extreamly quick to brute force by going through every possibility and just look to see which one looks gives an english output.
		This Leads to the massive issue of that it is very quick to break on a computer but also fairly quick to brute force on paper. 
	
	h2= "Substitution Cipher"
	p A simple substituion is where you can write out the alphabet in a different order than normal and convert the text over into the new alphabet, this is sometimes called a substitution alphabet.
		One method of this would be a Mixed alphabet, this is created by writing out a word, removing repeated letters and then write all the remaining letters in normal order. 
		this cipher could be made similar to Caesar and ROT13 depending on how you changed the alphabet,if you shift all the letters of the alphabet by 13 you have turned it into a ROT13 Cipher.
	p You can use this cipher at this link 
		a(href="http://127.0.0.1:5000/ciphers/Substitution") Subsituation Cipher

	h3= "Substitution Cipher Strengths"
	p The big strength to this method of Ciphering is that it will take longer to break by hand as alot more work is needed rather than just writing it 26 times like the Caesar Cipher, 
		this makes it even better for complicated puzzle. It can also be sent in fixed length making it more difficult to figure out where words start and end which can increase time taken to decipher the text.
		You can also use numbers in the Subsituation which can lead to it being even more difficult to crack by hand as there are more options as where things go.
	
	h3= "Substitution Cipher Weakness"
	p A weakness with Subsituation Ciphers is that they can be broken through a method called 
		a(href="https://en.wikipedia.org/wiki/Frequency_analysis") Frequency analysis
		This is where you can count the amount of each letter in the ciphered text and figure out how often they are used.
		this allows you to be able to guess which letters are common and uncommon, this can then be applied to the language being used, for example english
		and you can find common letters such as e,t,a and o, as well as the uncommon letters of z,x,q. by using these you can get some idea of what some words are and then can fill in the gaps
	
	h2="Morse Code"
	p Morse Code Encodes text characters as standard squences of dots and dashes.There is a Standard for the amount of time each dot,dash and space should take. a dot is one unit, a dash is three units, the space between each dot and dash in the same letter is one unit, the space between letters is three units and the space between words is seven units.
		Also it was designed so that the most comman characters in english have hte shortest code, for instance the letter E is just one dot. Due to the way Morse Code is designed, it is not required to be transmitted through a transmitter and reciever. 
		it is possible to improvise ways of communicating with morse code if it is memories. ways you could do this is turning lights on and off, making sound by hitting something or other ways of making noise.
	p You can use Morse at this link 
		a(href="Morse.html") Morse Code
	
	h3="Morse Code Strengths"
	p A Major strength of morse code is that it allows information to be transferred in many different ways. for instance on andriod os 5+ it is possible to allow the user to input text using morse code and have it be converted to english. this allows a person with motion disabilities to type easier on mobiles without having to precisly type.
		Also an important use for Morse Code is signalling for help through SOS, this is a major strength as it is known world wide meaning in emergencys where it is not possible to get alot of information spread morse can be used to call for help.
	
	h3="Morse Code Weaknesses"
	p there are two main weakness of Morse Code which partially overlap. the first is that not ever language is english, and not ever language has 26 characters, this means that different versions of morse code must be created for these languages which in some cases mean they are no long similar enough to english for it to be univeral. 
		This leads onto another weakness of morse Code which is that if you want to communicate in morse you must learn morse mostly off by heart, it is possible to write it all down and then convert it, however this is a slow method of communication and you would then need to know exactly which version of morse they are using if it is not standard english

	
